<div class="row">
  <div class="col-md-12" role="main">
    <div class="post-container">     
       <!-- content -->
       <div class="post-content">       
         <form id="query_form" class="form-horizontal form-well" role="form" action="/items" method="post">  
            <div>Item Id: <input class="form-control" id="id" name="id" type="text"></div>       
            <div>Item Name: <input class="form-control" id="name" name="name" type="text"></div>
            <div>Quantity <input class="form-control" id="quantity" name="quantity" type="text"></div>
            <div> <button type="submit" class="btn btn-primary">Purchase</button></div>
         </form>
       </div>
    </div>
  </div>   
</div>